annotated-types==0.6.0
appdirs==1.4.4
asgiref==3.7.2
astroid==2.4.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
Django==4.2.7
django-ninja==1.0.1
fake-useragent==0.1.11
Flask==1.1.2
Flask-WTF==0.14.3
html5lib==1.1
idna==2.10
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
mccabe==0.6.1
parse==1.19.0
pr==0.6.0
pydantic==2.5.2
pydantic-core==2.14.5
pyee==8.1.0
pylint==2.6.0
pyppeteer==0.2.5
pyquery==1.4.3
python-decouple==3.8
requests==2.25.1
requests-html==0.10.0
six==1.15.0
soupsieve==2.2
sqlparse==0.4.4
toml==0.10.2
tqdm==4.59.0
typing-extensions==4.8.0
urllib3==1.26.3
w3lib==1.22.0
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
